:root {
  --background: #e6e3dc;
  --foreground: #222222;

  --primary: #4b0000;
  --primary-foreground: #f5f0ea;

  --card: #ffffff;
  --card-foreground: #222222;

  --muted: #f3f3f3;
  --muted-foreground: #666666;

  --border: #e2e2e2;

  --accent: #f7f5f2;
}
